<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/_fragments::head">
    <meta charset="UTF-8">
    <title>admin</title>
    <link rel="stylesheet" href="../../static/plugin/semanticui/semantic.min.css">
    <script src="../../static/js/jquery-3.4.1.min.js"></script>
    <script src="../../static/plugin/semanticui/semantic.min.js"></script>
    <script src="../../static/js/echarts.min.js"></script>
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<div class="ui inverted left fixed vertical menu container overflow m-admin-menu" th:replace="admin/_fragments::consolemenu(1)">
    <div class="m-margin-tb-large">
        <img src="../../static/img/35.jpg" alt="" class="ui tiny centered circular image">
                <p class="ui header text center aligned m-margin-top-large" style="color: white">管理员:   <span>jiang</span></p>
    </div>

    <a class="item" style="font-size: 1.2em">
        <p class="header">Dashboard</p>
    </a>

    <div class="item " style="font-size: 1.2em">
       <p class="header">User</p>
        <div class="menu">
            <a href="#" class="active item">userlist</a>
        </div>
    </div>
    <div class="item" style="font-size: 1.2em">
        <p class="header">Blog</p>
        <div class="menu">
            <a href="#" class="item">BlogList</a>
        </div>
    </div>
    <div class="ui item " style="border-color: black">
        <div class="ui inverted very basic button ">注销</div>
    </div>
</div>

<div class="article">
    <div class="ui container">
        <div id="main" style="width: 40rem;height:30rem;"></div>
    </div>

</div>

<script th:replace="admin/_fragments::script">
    $('.ui.accordion').accordion();

</script>
</body>
</html>